* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainCLR: hsl(36, 93%, 48%);
  --subCLR: hsl(15, 67%, 1%);
  --btnCLR: #a87507;
  --txtCLR: hsl(51, 50%, 85%);
  --disCLR: hsl(0, 0%, 24%);
}

body {
  background-color: rgb(22, 16, 16);
  color: var(--txtCLR);

  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevents unnecessary scroll */
}

#App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgb(2, 10, 27) 35%,
    rgb(12, 2, 70) 40%,
    rgb(29, 5, 136) 41%,
    rgb(2, 20, 58) 46%,
    rgb(1, 6, 26) 100%);
}

#top, #content, #bottom {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
}

#top {
  position: relative;
  display: flex;
  height: clamp(80px, 100px, 140px); /* min 100px, ideal 120px, max 200px */
  width: 85%;
  max-width: 720px;
  background: rgba(2, 0, 0, 0.95);
  margin-bottom: 1rem;

  color: var(--txtCLR);
}

#content {
  position: relative;
  display: flex;
  height: clamp(300px, 300px, 500px); /* min 300px, ideal 60vh, max 500px */
  width: 85%;
  max-width: 720px;
  background: #070303;
  margin-bottom: 1rem;

  color: var(--txtCLR);

  flex: 1;
}

#bottom {
  position: relative;
  display: flex;
  height: clamp(120px, 140px, 140px );
  width: 85%;
  max-width: 720px;
  background: black;
  margin-bottom: 1rem;

  color: var(--txtCLR);
}

@media (max-width: 480px) {
  #top,
  #content,
  #bottom {
    width: 95%;
    min-width: none;
  }

  #top {
    height: 15vh;
  }

  #content {
    height: 50vh;
  }

  #bottom {
    height: 25vh;
  }
}